html {
  background-color: #328963;
}
  main{
    position: relative;

  }
  section {
    width: 1340px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 15px;
    justify-content: space-between;
  }
  img {
    width: 100%;
    height: 100%;
  }
  a {
    /* display: inline-block; */
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out;
 }
  .login-now {
    border-radius: 10px;
    color: #40382D;
    box-shadow: inset 0 -5px 0 #40382D;
    z-index: 1;
    position: relative;
    top: -200px;
    margin: 1px;

 }
  /* .login-menu {
    border: solid black 1px;
    color: #40382D;
    z-index: 1;
    position: relative;
    bottom: -70px;
    left: 800px;

} */
 .login-now:hover {
    box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
    color: #e8dcca;
    z-index: 1;
 }
 /* Таймер */
 .timer {
  position: relative;
  text-align: center;
  z-index: 1;
  display: inline-block;
  background: #e8dcca;
  border-radius: 10px;
  left: 50px;
   
 }
 .timer_items_wrapper{
  position: relative;
  float: left;
  width: 600px;
  padding: 10px;

  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
 }
 .timer_items {
  display: inline-block;
  font-size: 48px;
  text-align: center;
  top: 50px;
  position: relative;
}
 .timer_item {
  float: left;
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer_item:nth-child(-n+2)::after {
  content: ":";
}
.special-anounce_wrapper {
  float: left;
  width: 600px;
  font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 1em !important; 
    font-weight: bold;

}
.special-img {
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
  border: solid #328963 10px;
}
/* Услуги */
.services {
  position: relative;
  /* top: -50px; */
}
.inrow {
  display: inline-table;
  margin-top: 10px;
}   
.service {
  left:20px;
  float: left;
  width: 30%;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border: solid black 1px;
  background: #e8dcca;
  font-family: 'Montserrat', sans-serif;
}
.login-menu {
  position: relative;
  z-index: 1;
  top: 100px;
  left: 45%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
}

.login-name{
  display: inline-block;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.login-form{
  display: inline-block;;
}
.login-exit{
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
}
.login-exit:hover {
  box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #e8dcca;
  z-index: 1;
}
.login-in {
  position: relative;
  z-index: 1;
  top: 80px;
  left: 60%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  border: solid black 1px;
}
  .login-in:visited{
    color: black;
  }
  .login-in:hover{
    box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
    color: #e8dcca;
}
/* Modal window */
.modal-bd-wrapper {
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    align-items: center;
    z-index: 99;
    padding:30px 0;
    background: rgb(151, 151, 151, 0.7);

   
}
.modal-bd {
  background: #e8dcca;
  width: 1000px;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 15px;

}
.modal-bd, .modal-close, .modal-input{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 40px;

}
.bd{
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-image: url("./images/conf2.gif");
  background-color: black;


}
.bd-text-wrapper{

}
.bd-text-wrapper h2{
  color: white
}